<p id="notice"><%= notice %></p>

<p>
  <strong>Collection group:</strong>
  <%= @collection_item.collection_group_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @collection_item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @collection_item.description %>
</p>

<p>
  <strong>Imageurl1:</strong>
  <%= @collection_item.imageUrl1 %>
</p>

<p>
  <strong>Imageurl2:</strong>
  <%= @collection_item.imageUrl2 %>
</p>

<p>
  <strong>Imageurl3:</strong>
  <%= @collection_item.imageUrl3 %>
</p>

<p>
  <strong>Imageurl4:</strong>
  <%= @collection_item.imageUrl4 %>
</p>

<p>
  <strong>Imageurl5:</strong>
  <%= @collection_item.imageUrl5 %>
</p>

<p>
  <strong>Imageurl6:</strong>
  <%= @collection_item.imageUrl6 %>
</p>

<p>
  <strong>Vidurl1:</strong>
  <%= @collection_item.vidUrl1 %>
</p>

<%= link_to 'Edit', edit_collection_item_path(@collection_item) %> |
<%= link_to 'Back', collection_items_path %>
