<div class="container">
	<div class="row">
		<div class="col-md-4">
			<%= image_tag "2013collection/a.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
			<%= image_tag "2013collection/d.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
			<%= image_tag "2013collection/g.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
			<%= image_tag "2013collection/j.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
			<%= image_tag "2013collection/m.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
			<%= image_tag "2013collection/p.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
			<%= image_tag "2013collection/s.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
			<%= image_tag "2013collection/v.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
			<%= image_tag "2013collection/y.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
			
		</div>
		<div class="col-md-4">
			<%= image_tag "2013collection/b.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
			<%= image_tag "2013collection/e.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
			<%= image_tag "2013collection/h.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
			<%= image_tag "2013collection/k.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
			<%= image_tag "2013collection/n.jpg", class: "img-responsive center-block image-inv", :alt => "" %>
			<%= image_tag "2013collection/q.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
			<%= image_tag "2013collection/t.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
			<%= image_tag "2013collection/w.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
			<%= image_tag "2013collection/z.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
			<%= image_tag "2013collection/ab.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
		</div>
		<div class="col-md-4">
			<%= image_tag "2013collection/c.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
			<%= image_tag "2013collection/f.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
			<%= image_tag "2013collection/i.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
			<%= image_tag "2013collection/l.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
			<%= image_tag "2013collection/o.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
			<%= image_tag "2013collection/r.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
			<%= image_tag "2013collection/u.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
			<%= image_tag "2013collection/x.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
			<%= image_tag "2013collection/aa.jpeg", class: "img-responsive center-block image-inv", :alt => "" %>
		</div>
		
	</div>
</div>
