<div class="container">
  <div class="row sw-articles">
  	<div class="col-md-4">
  		<%= image_tag "gallery/clients/aa.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "gallery/clients/bz.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "gallery/clients/da.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "gallery/clients/ez.jpg", class: "img-responsive center-block image", :alt => "" %>
  	</div>
  	<div class="col-md-4">
  		<%= image_tag "gallery/clients/az.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "gallery/clients/ca.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "gallery/clients/dz.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "gallery/clients/fa.jpg", class: "img-responsive center-block image", :alt => "" %>
  		
  	</div>
  	<div class="col-md-4">
  		<%= image_tag "gallery/clients/ba.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "gallery/clients/cz.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "gallery/clients/ea.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "gallery/clients/fz.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "gallery/clients/ga.jpg", class: "img-responsive center-block image", :alt => "" %>
  	</div>
  </div>
  <div class="row sw-articles">
  	<div class="col-md-4">
  		<%= image_tag "textiles/aa.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/ad.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/ag.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/aj.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/am.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/ap.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/as.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/av.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/ay.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/bb.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/be.jpg", class: "img-responsive center-block image", :alt => "" %>
  	</div>
  	<div class="col-md-4">
  		<%= image_tag "textiles/ab.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/ae.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/ah.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/ak.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/an.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/aq.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/at.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/aw.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/az.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/bc.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/bf.jpg", class: "img-responsive center-block image", :alt => "" %>
  	</div>
  	<div class="col-md-4">
  		<%= image_tag "textiles/ac.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/af.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/ai.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/al.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/ao.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/ar.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/au.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/ax.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/ba.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/bd.jpg", class: "img-responsive center-block image", :alt => "" %>
  		<%= image_tag "textiles/bg.jpg", class: "img-responsive center-block image", :alt => "" %>
  	</div>
  </div>
</div>