<!-- Features Wrapper -->
			<div class="container">

				<!-- Features -->
				<div class="row sw-articles">
					
						
							<div class="col-md-4">

								<!-- Feature -->
									<section class="main-body-article">
										<a href="http://regularjane.deviantart.com/art/Old-Reads-363428235"><%=image_tag "asian girl.jpg", class: "img-responsive center-block image" %></a>
										<header>
											<h3>Fashion Show</h3>
										</header>
										<span class="date center-block">April 1, 2014</span>
										<p><strong>A journey from reality to fantasy...</strong>, a free, fully responsive site template 
										by <a href="http://html5up.net/">HTML5 UP</a>. Free for personal and commercial use under the 
										<a href="http://html5up.net/license/">CCA 3.0 license</a>.</p>
									</section>

							</div>
							<div class="col-md-4">

								<!-- Feature -->
									<section class="main-body-article">
										<a href="http://regularjane.deviantart.com/art/Nutella-359114563"><%= image_tag "ff2014_article.jpg", class: "img-responsive center-block image", :alt => "" %></a>
										<header>
											<h3>Fairie Festival</h3>
										</header>
										<span class="date center-block">May 2-4, 2014</span>
										<p><a href="http://html5up.net/">HTML5 UP</a> is a side project of <a href="http://n33.co">AJ’s</a> (ie. me).  
										I started it as a way to both test my <a href="http://skeljs.org">skelJS</a> framework (formerly 
										5grid) and sharpen up my design skills a bit.</p>
									
									<a href="#" class="btn btn-default center-block"><i class="fa fa-anchor"></i><span class="btn-text">Tell Me More</span> </a>
									</section>
									
							</div>
							<div class="col-md-4">

								<!-- Feature -->
									<section class="main-body-article">
										<a href="http://regularjane.deviantart.com/art/Solo-Spring-358679786"><%= image_tag "O.jpg", class: "img-responsive image", :alt => "" %></a>
										<header>
											<h3>COME by the STUDIO!</h3>
										</header>
										<p><a href="http://skeljs.org">skelJS</a> is a lightweight framework for building responsive 
										sites and apps. All of my designs at <a href="http://html5up.net/">HTML5 UP</a> (including this 
										one) are built on this framework.</p>
									</section>

							</div>
						</div>
						
							
				<div class="row">
					<div class="col-md-9">
						<article>
							<h2>Sun is coming out! Come by for a HUG!</h2>
							<%=image_tag "store.jpg", class: "img-responsive center-block image" %>
						</article>						
					</div>
					<div class="col-md-3">
						<h3>Recent Textiles!!!</h3>
						<%=image_tag "textile1.jpg", class: "img-responsive center-block image img-thumbnail" %>
						<%=image_tag "textile2.jpg", class: "img-responsive center-block image img-thumbnail" %>
						<%=image_tag "textile3.jpg", class: "img-responsive center-block image img-thumbnail" %>
					</div>
				</div>
			
			
				
			
</div>
