<div class="container">
	<div class="row">
		<div class="col-md-12 center-block margin-center"><h2>Current Inventory</h2><br /></div>
	</div>
  <div class="row sw-articles">
  	<div class="col-md-6">
  		<%= image_tag "IMG_0100x.jpg", class: "img-responsive center-block image-inv", :alt => "" %>
  		<p><strong>Item Description:</strong> Tunic Style</p>
  		<p><strong>Silk:</strong> 13MM Chiffon</p>
  	</div>
  	<div class="col-md-6">
  		<%= image_tag "IMG_0101x.jpg", class: "img-responsive center-block image-inv", :alt => "" %>
  		<a href="http://www.spoutwood.org/" class="btn btn-default"><i class="fa fa-star"></i><span class="btn-text">more info...</span> </a>
  	</div>
  </div>
  <div class="row sw-articles">
  	<div class="col-md-6">
  		<%= image_tag "IMG_0116x.jpg", class: "img-responsive center-block image-inv", :alt => "" %>
  		<p><strong>Item Description:</strong> Tunic Style</p>
  		<p><strong>Silk:</strong> 13MM Chiffon</p>
  	</div>
  	<div class="col-md-6">
  		<%= image_tag "IMG_0117x.jpg", class: "img-responsive center-block image-inv", :alt => "" %>
  		<a href="http://www.spoutwood.org/" class="btn btn-default"><i class="fa fa-arrow-right"></i><span class="btn-text">more Info...</span> </a>
  		
  	</div>
  </div>
  <div class="row sw-articles">
  	<div class="col-md-6">
  		<%= image_tag "IMG_0118x.jpg", class: "img-responsive center-block image-inv", :alt => "" %>
  		<p><strong>Item Description:</strong> Tunic Style</p>
  		<p><strong>Silk:</strong> 13MM Chiffon</p>
  		
  	</div>
  	<div class="col-md-6">
  		<%= image_tag "IMG_0119x.jpg", class: "img-responsive center-block image-inv", :alt => "" %>
  		<a href="http://www.spoutwood.org/" class="btn btn-default center-block"><i class="fa fa-anchor"></i><span class="btn-text">Tell Me More</span> </a>
  	</div>
  </div>
  <div class="row sw-articles">
  	<div class="col-md-6">
  		<%= image_tag "IMG_0102x.jpg", class: "img-responsive center-block image-inv", :alt => "" %>
  		<p><strong>Item Description:</strong> Kimono Style</p>
  		<p><strong>Silk:</strong> 13MM Chiffon</p>
  	</div>
  	<div class="col-md-6">
  		<%= image_tag "IMG_0104x.jpg", class: "img-responsive center-block image-inv", :alt => "" %>
  		<a href="http://www.spoutwood.org/" class="btn btn-default center-block"><i class="fa fa-anchor"></i><span class="btn-text">Tell Me More</span> </a>
  	</div>
  </div>
  <div class="row sw-articles">
  	<div class="col-md-6">
  		<%= image_tag "IMG_0106x.jpg", class: "img-responsive center-block image-inv", :alt => "" %>
  		<p><strong>Item Description:</strong> Kimono Style</p>
  		<p><strong>Silk:</strong> 13MM Chiffon</p>
  	</div>
  	<div class="col-md-6">
  		<%= image_tag "IMG_0107x.jpg", class: "img-responsive center-block image-inv", :alt => "" %>
  		<a href="http://www.spoutwood.org/" class="btn btn-default center-block"><i class="fa fa-anchor"></i><span class="btn-text">Tell Me More</span> </a>
  	</div>
  </div>
  <div class="row sw-articles">
  	<div class="col-md-6">
  		<%= image_tag "IMG_0109x.jpg", class: "img-responsive center-block image-inv", :alt => "" %>
  		<p><strong>Item Description:</strong> Kimono Style</p>
  		<p><strong>Silk:</strong> 13MM Chiffon</p>
  	</div>
  	<div class="col-md-6">
  		<%= image_tag "IMG_0108x.jpg", class: "img-responsive center-block image-inv", :alt => "" %>
  		<a href="http://www.spoutwood.org/" class="btn btn-default center-block"><i class="fa fa-anchor"></i><span class="btn-text">Tell Me More</span> </a>
  	</div>
  </div>
  <div class="row sw-articles">
  	<div class="col-md-6">
  		<%= image_tag "IMG_0110x.jpg", class: "img-responsive center-block image-inv", :alt => "" %>
  		<p><strong>Item Description:</strong> Kimono Style</p>
  		<p><strong>Silk:</strong> 13MM Chiffon</p>
  	</div>
  	<div class="col-md-6">
  		<%= image_tag "IMG_0111x.jpg", class: "img-responsive center-block image-inv", :alt => "" %>
  		<a href="http://www.spoutwood.org/" class="btn btn-default center-block"><i class="fa fa-anchor"></i><span class="btn-text">Tell Me More</span> </a>
  	</div>
  </div>
  <div class="row sw-articles">
  	<div class="col-md-6">
  		<%= image_tag "IMG_0113x.jpg", class: "img-responsive center-block image-inv", :alt => "" %>
  		<p><strong>Item Description:</strong> Kimono Style</p>
  		<p><strong>Silk:</strong> 13MM Chiffon</p>
  	</div>
  	<div class="col-md-6">
  		<%= image_tag "IMG_0112x.jpg", class: "img-responsive center-block image-inv", :alt => "" %>
  		<a href="http://www.spoutwood.org/" class="btn btn-default center-block"><i class="fa fa-anchor"></i><span class="btn-text">Tell Me More</span> </a>
  	</div>
  </div>
  
  <div class="row sw-articles">
  	<div class="col-md-6">
  		<%= image_tag "IMG_0120x.jpg", class: "img-responsive center-block image-inv", :alt => "" %>
  		<p><strong>Item Description:</strong> Kimono Style</p>
  		<p><strong>Silk:</strong> 13MM Chiffon</p>
  	</div>
  	<div class="col-md-6">
  		<%= image_tag "IMG_0121x.jpg", class: "img-responsive center-block image-inv", :alt => "" %>
  		<a href="http://www.spoutwood.org/" class="btn btn-default center-block"><i class="fa fa-anchor"></i><span class="btn-text">Tell Me More</span> </a>
  	</div>
  </div>
  <div class="row sw-articles">
  	<div class="col-md-6">
  		<%= image_tag "IMG_0122x.jpg", class: "img-responsive center-block image-inv", :alt => "" %>
  		<p><strong>Item Description:</strong> Kimono Style</p>
  		<p><strong>Silk:</strong> 13MM Chiffon</p>
  	</div>
  	<div class="col-md-6">
  		<%= image_tag "IMG_0123x.jpg", class: "img-responsive center-block image-inv", :alt => "" %>
  		<a href="http://www.spoutwood.org/" class="btn btn-default center-block"><i class="fa fa-anchor"></i><span class="btn-text">Tell Me More</span> </a>
  	</div>
  </div>
</div>
