<div class="container">
	<div class="row">
		<div class="col-md-5 col-md-offset-2">
			<%= image_tag @item.imageUrl1, class: "img-responsive center-block image-inv", :alt => "" %>
			<div class="col-md-4">
				<%= image_tag @item.imageUrl2, class: "img-responsive center-block image-inv", :alt => "" %>
			</div>
			<div class="col-md-4">
				<%= image_tag @item.imageUrl3, class: "img-responsive center-block image-inv", :alt => "" %>
			</div>
			<div class="col-md-4">
				<%= image_tag @item.imageUrl4, class: "img-responsive center-block image-inv", :alt => "" %>
			</div>
		</div>
		<div class="col-md-3">
			<h2><%= @item.name %></h2>
			<p><%= @item.description %></p>
		</div>
	</div>
</div>
